*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}

html {
  overflow-y: scroll;
  overflow-x: hidden;

}


/* LANDING */

#landing {
    background: url('../images/image 2.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 120vh;
}

#landing .header {
    margin-top: 200px;
}

#landing .header, .content p, .button {
    margin-left: 80px;
}

.button button {
    border-radius:0;
    background-color: darkorange ;
    color: white;
}



/* INTRO */

#intro {
    margin-top: 100px;
}


/* AGENT */
#agent {
    margin-top: 50px;
    /* height: 100vh; */
}

#agent h1 {
    margin-bottom: 50px;
}

#agent .image5 {
    margin-left: 40px;
}

#agent .image7 {
    margin-left: 80px;
}

#agent .image8 {
    margin-left: 80px;
}

#agentMobile{
    visibility: hidden;
}



/* gettingStarted */

#gettingStarted{
    margin-top: -500px;
}

.circle {
/* position: absolute; */
border-radius: 100%;
color: white;
width: 40px;
height: 40px;
left: 749px;
top: 2013px;
background: #E86225;
}

#gettingStarted hr {
    /* position: absolute; */
    width: 75px;
    height: 0px;
    margin-top: 28px;
    margin-left: -25px;
    border: 6px solid #E86225;
    transform: rotate(-90deg);
}

#gettingStarted h3 {
    margin-left: 30px;
}

#gettingStarted p {
    margin-left: 50px;
    margin-top: -50px;
}

#gettingStarted .lastRow {
    margin-left: 50px;
    margin-top: 10px;
}

#gettingStarted button {
         color: white;
         background-color: darkorange;
     }


     /* Transaction */

     #transaction {
         margin-top: 80px;
     }


    #transaction #secondrow{
        margin-top: 50px;
        margin-left: 150px;
    }

    #transaction .text{
        margin-top: 20px;
        margin-left: 10px;
    }

    .lastrow h1{
        margin-top: 35px;
    }


    /* About */

    #about {
        margin-top: 100px;
    }

    #image img {
        width: 100%;
    }

    #about .text {
        color: darkorange;
    }

     #about h1 {
        margin-top: 50px;
    }

    #video img{
        margin-top:-300px;
        width: 70%;
        margin-left: 250px;
    }

    #about p {
        margin-top: -200px;
        margin-left: 70px;
    }

    #about h6{
        margin-left: 70px;
        margin-top: 30px;
    }


    /* Assistance */
    #assistance {
        margin-top: 100px;
    }

     #assistance h1 {
         margin-top: 100px;
     }

     #assistance p {
         margin-top: 20px;
     }

      #assistance button {
        background-color: darkorange;
        color: white;
     }

     #assistance img {
         border-radius: 100%;
     }

     #guide {
         margin-top: 200px;
         margin-bottom: 100px;
     }

     #guide button {
        border: 2px solid darkorange;
        color: darkorange;
     }

     #col2 .row1 svg  {
        margin-top: 20px;
        margin-bottom: 70px;
     }

     #col2 .row3 svg {
          margin-top: 50px;
     }

     #guide h3 {
         margin-top: 20px;
         margin-left: -100px;
     }

     
     #col4 p {
         margin-top: 80px;
         margin-left: -150px;
     }



/* TABLET VIEW */

@media all and (max-width: 1024px) {
    #landing {
      background-size: cover;
      height: 40vh;
}

    #landing .header {
        margin-top: 50px;
    }

     #landing .header, .content p, .button {
        margin-left: 0;
    }

    #agent img {
        width: 130%;
    }

    #agent .image5 {
    margin-left:20px;
}

    #agent .image7 {
        margin-left: 50px;
    }

    #agent .image8 {
        margin-left: 50px;
    }

    #agentMobile{
    visibility: hidden;
    }

    #gettingStarted {
        margin-top: -900px;
    }

    #gettingStarted h3{
        margin-top: -50px;
        margin-left: 50px;   
    }

    #gettingStarted hr {
        /* margin-top: 35px; */
        width: 105px;
        margin-left: -40px;
    }

    #gettingStarted .firsth3 {
        margin-top: 0px;
        margin-left: 10px;  
    }

     #video img{
        margin-top:-200px;
        width: 70%;
        margin-left: 150px;
    }

    #about p {
        margin-top: -100px;
        margin-left: 70px;
    }

    #about h6{
        margin-left: 70px;
    }

    #guide h3 {
        margin-left: 10px;
    }

}



/* MOBILE VIEW */
@media all and (max-width: 500px) {
    #landing {
        background: url('../images/image 6.png');
        background-repeat: no-repeat;
        background-size: cover;
        height: 80vh;
}
    #landing .header {
        margin-top: 250px;
    }

     #landing .header, .content p, .button {
        margin-left: 0;
    }

    .button button {
        width: 100%;
}

#intro #svg-1 svg{
    position: absolute;
    left: 0.7%;
    right: 0.7%;
    top: 0.7%;
    bottom: 0.78%;

}

#intro #svg-1 h3 {
    margin-left: 50px;
}

#intro #heart svg{
    position: absolute;
    left: 4.69%;
    right: 4.73%;
    top: 4.69%;
    bottom: 4.69%;

}

#intro #heart h3 {
    margin-left: 50px;
}

#agent .row {
    margin-top: -230px ;
    
}

#agent #desktopview {
    visibility: hidden;
}

#agentMobile{
    visibility: inherit;
    }

    #gettingStarted {
        margin-top: 100px;
    }

     #gettingStarted .secondh3 {
        margin-top: 0px;
        margin-left: 10px;  
    }

     #gettingStarted .text-muted {
        margin-bottom: 30px;
     }

     #gettingStarted button {
         width: 100%;
         color: white;
         background-color: darkorange;
     }

     #secondrow svg{
         margin-left: -130px;
         margin-bottom: -150px;
     }


     #image img {
        visibility: hidden;
    }

     #video img{
        margin-top:-900px;
        width:120% ;
        margin-left: 35px;
    }
  
    #about h1 {
        margin-left: 40px;
        margin-bottom: 50px;
    }

    #about .text {
        visibility: hidden;
    }

#assistance button{
    width: 100%;
    margin-bottom: 50px;
}

#col4 .row1 {
    margin-top: -300px;
    margin-left: 70px;
}

#col4 .row2 {
    margin-left: 70px;
}

#col4 .row3 {
    margin-left: 70px;
}


#guide button {
    margin-bottom: 50px;
}


} 

